@charset "utf-8";
@import "compass/css3";

%_sentence {
    line-height: 1.5;
}

@mixin medium {
    font-size: 14px;
    @extend %_sentence;
}

@mixin small {
    font-size: 12px;
    @extend %_sentence;
}

%_medium-sentence {
    @extend %_sentence;
    @include medium;
}

%_small-sentence {
    @extend %_sentence;
    @include small;
}

.cassette {
    display: inline-block;
    vertical-align: bottom;
    width: 450px;
}

.flex {
    display: table;
    table-layout: fixed;
    width: 100%;

    .item {
        display: table-cell;
        vertical-align: top;

        figure {
            figcaption {
                word-wrap: break-word;
                @extend %_small-sentence;
            }
        }

        &.item-owner {
            width: 150px;
        }
    }
}

.gist {
    @extend %_medium-sentence;
}
.description {
    @extend %_medium-sentence;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.figcaption {
    @extend %_medium-sentence;
}

.owner {
    cursor: pointer;

    img {
        width: 72px;
        height: 72px;
    }
}

.copyright {
    text-align: center;
}
